<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flagged Events</title>
    <link rel="stylesheet" type="text/css" href="/static/css/gaccount.css">
</head>
<body>
<div class="split left">
    <img src="/static/images/lucidlogo.png" width="80px" height="80px" id="lucidHomeLogo"> <br>
    <br>
    <img src="/static/images/user.png" width="40px" height="40px" id="lucidHomeLogo">
    <label style="color: blue"> <a href=""> Personal Information </a> </label> <br> <br>
    <img src="/static/images/folder.png" width="40px" height="40px" id="lucidHomeLogo">
    <label style="color: blue"> <a href="guest/flag"> Flagged Events </a> </label> <br> <br>
    <button class="button" type="buttom"> Sign Out</button>
</div>
<div class="split right">
    <h1 id="header"> Account
        <br>
        <br>
        <p1 id="reviewHead"> Flagged Events</p1>
        </br>
        <br>
    </h1>
    <br>
    <br>
    <div class="grid-container2">
        <div class="header"> Events </div>
        <div class="inside"> Love is in the Air </div>
        <div class="header"> Event Date </div>
        <div class="inside"> Love is in the Air Event Date </div>

    </div>
</div>
</body>
</html>