<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/gaccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/guestAccountNavigation.js" type="application/javascript" defer></script>
</head>
<body>
<navigation-component></navigation-component>


     <div class="right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Personal Information </p1> </br>
                <br>
                <button class="button" type="buttom"> Edit Information </button>
                <button class="button" type="buttom"> Save </button>
            </h1>

            <br>
            <br>
              <div class="grid-container3">
                <div class="headermain"> First Name </div>
                <div class="inside">  {{  fname }} </div>
                <div class="headermain"> Last Name </div>
                <div class="inside">  {{  lname }} </div>
                <div class="headermain"> Zip/Postal Code </div>
                <div class="inside">  {{  zip }} </div>
                <div class="headermain"> Phone </div>
                <div class="inside">  {{  tel }} </div>
                <div class="headermain"> Email </div>
                <div class="inside">  {{  email }} </div>
            </div>

     </div>
     </div>

</body>
</html>