<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flagged Events</title>
    <link rel="stylesheet" type="text/css" href="/static/css/managementEvents.css">
    <link rel="stylesheet" type="text/css" href="/static/css/background.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script> {% if user_is_guest is defined %}let userIsGuest = {{ user_is_guest|tojson }} {% endif %}</script>
    <script src="/static/scripts/guestAccountNavigation.js" type="application/javascript" defer></script>
    <script src="https://kit.fontawesome.com/fc88626b57.js" crossorigin="anonymous"></script>

</head>
<body>

<guest-navigation-component></guest-navigation-component>
<div class="right">
    <h1 id="header"> Account
        <br>
        <h2 id="reviewHead"> Flagged Events</h2>
    </h1>
    <div class="mainContent">
        {% for each_flyer,id in zip(flyers,event_ids) %}
        <div class="event" data-eventId={{ id }}>
            <a href="{{ url_for('event_details',event_id=id) }}"> <img src="data:image/jpg;base64,{{ each_flyer }}" class="eventEditor">
            </a>
        </div>
            {% endfor %}

    </div>
</div>

</div>
</body>
</html>