<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Reviews</title>
    <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
</head>
<body>
      <div class="split left">
        <img src="/static/images/lucidlogo.png" width="80px" height="80px" id="lucidHomeLogo"> <br>
        <br>
        <img src="/images/user.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management"> Personal Information </a> </label> <br> <br>
         <img src="/images/review.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/reviews"> Reviews </a> </label> <br> <br>
        <img src="/images/add.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/analytics"> Analytics </a> </label> <br> <br>
        <img src="/images/data.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/users"> Add Management Accounts </a> </label> <br> <br>
        <img src="/images/hello.webp" width="40px" height="40px" id="lucidHomeLogo">
          <label style="color: blue">  <a href="/management/inquiries"> Inquiries </a> </label> <br> <br>
        <img src="/images/event.png" width="40px" height="40px" id="lucidHomeLogo">
          <label style="color: blue">  <a href="/management/events"> Create New Events </a> </label> <br> <br>
        <img src="/images/event.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/events"> Listed Events </a> </label> <br> <br>
        <button class="button" type="buttom"> Sign Out </button>
    </div>

     <div class="split right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Reviews </p1> </br>
                <br>
            </h1>
         <br>
            <br>
            <div class="grid-container4">
                <div class="header"> Event  </div>
                <div class="header"> User Type </div>
                <div class="header">  Reviewer Name  </div>
                <div class="header">  Event Date </div>
                <div class="header">  Review </div>
                <div class="inside"> 2023 B2S Party </div>
                <div class="inside"> Client </div>
                <div class="inside"> George </div>
                <div class="inside"> Date </div>
                <div class="inside"> This event was cool. </div>

            </div>

     </div>
</body>
</html>