<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <link rel="stylesheet" href="/static/css/inquiries.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/modal.js" type="application/javascript" defer></script>
    <script src="/static/scripts/editEventModal.js" type="application/javascript" defer></script>
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>


</head>
<body>
<management-navigation-component></management-navigation-component>

<div class="right">
    <h1 id="header"> Inquiry Information</h1>

    <div class="formContent">

        <div class="leftForm">

            <label for="eventType"> Event Type: </label>
            <input type="text" id="event-type" name="event_type"
                   value={{ curr_inquiry.event_type }} readonly="readonly"> <br>
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name" value={{ curr_inquiry.name }} readonly="readonly"> <br>
            <label for="email"> Email: </label>
            <input type="email" id="email" name="email" value={{ curr_inquiry.email }} readonly="readonly"> <br>
            {% if isContractInquiry %}
            <label for="company"> Occupation: </label>
            <input type="text" id="company" name="company" value={{ curr_inquiry.occupation }} readonly="readonly"> <br>

            {% else %}
                <label for="phone"> Phone: </label>
            <input type="text" id="phone" name="phone" value={{ curr_inquiry.phone }} readonly="readonly"> <br>
            <label for="company"> Company: </label>
            <input type="text" id="company" name="company" value={{ curr_inquiry.company }} readonly="readonly"> <br>
            {% endif %}
        </div>
        <div class="rightForm">
          {% if isContractInquiry %}
              <div class="downloadDiv">
                          <label for="company"> Work Sample File: </label>
          <a href="{{ url_for('management.management_download_sample', inquiry_id=curr_inquiry.contract_inquiry_id) }}"> <button id="downloadButton" type="button" name >Download </button><br> </a>

              </div>


            {% endif %}
            <label for="event_needs"> Event Needs: </label>
            <textarea id="event-needs" name="event_needs" readonly="readonly">{{ curr_inquiry.event_needs }}</textarea>
        </div>
    </div>

<form action="{{ url_for('management.delete_inquiry') }}" method="POST">
    <input type="hidden" name="event_Inquiry_Id" value="{{ curr_inquiry.event_Inquiry_Id }}">
    <button type="submit">Delete Inquiry</button>
</form>

</div>
</div>
</body>
</html>