<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <link rel="stylesheet" href="/static/css/managementeventinquiry.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/modal.js" type="application/javascript" defer></script>
    <script src="/static/scripts/editEventModal.js" type="application/javascript" defer></script>
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>


</head>
<body>
<management-navigation-component></management-navigation-component>

<div class="right">
    <h1 id="header"> Inquiry Information</h1>

    <p>Event Type: {{ curr_inquiry.event_type }}</p>
    <p>Name: {{ curr_inquiry.name }}</p>
    <p>Company: {{ curr_inquiry.company }}</p>
    <p>Email: {{ curr_inquiry.email }}</p>
    <p>Phone: {{ curr_inquiry.phone }}</p>
    <p>Event Needs: {{ curr_inquiry.event_needs }}</p>

    </div>
</div>
</body>
</html>