<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management Reviews</title>
    <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>



    <navigation-component>

    </navigation-component>


     <div class="right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Reviews </p1> </br>
                <br>
            </h1>
         <br>
            <br>
            <div class="grid-container4">
                <div class="header"> Event  </div>
                <div class="header"> User Type </div>
                <div class="header">  Reviewer Name  </div>
                <div class="header">  Event Date </div>
                <div class="header">  Review </div>
                <div class="inside"> 2023 B2S Party </div>
                <div class="inside"> Client </div>
                <div class="inside"> George </div>
                <div class="inside"> Date </div>
                <div class="inside"> This event was cool. </div>

            </div>

     </div>
</body>
</html>