<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/managementEvents.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/modal.js" type="application/javascript" defer></script>
    <script src="/static/scripts/editEventModal.js" type="application/javascript" defer></script>
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>


<management-navigation-component></management-navigation-component>
<!-- view inquiries and inquiry details -->

<div class="right">
    <h1 id="header"> Inquiries</h1>
    <div class="mainContent">
        {% for inquiry in event_inquiries %}
            <div class="event">
                <a href="{{ url_for('management.management_view_inquiry', inquiry_id=inquiry) }}">
                    <img src="/static/images/fileIcon.png" class="eventEditor">
                </a>


            </div>
        {% endfor %}
        {% for inquiry in contract_inquiries %}
            <div class="event">
                <a href="{{ url_for('management.management_view_contract_inquiry', inquiry_id=inquiry) }}">
                    <img src="/static/images/fileIcon1.png" class="eventEditor">
                </a>
            </div>

        {% endfor %}


    </div>


</div>


</body>
</html>