<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>



    <navigation-component>

    </navigation-component>


 <div class="right">
     <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Create New Event </p1> </br>
                <br>
                </h1>
     <div id="event">
                <label for="fName"> Event Name: </label>
                    <input type="text" id="fName" name = "fName">  <br>
            <label for="fName"> Event Date: </label>
                    <input type="date" id="fName" name = "fName">  <br>
                <label for="fName"> Event Description: </label>
                    <input type="text" id="fName" name = "fName">  <br>
                <label for="fName"> Event Image: </label>
                    <input type="file" id="fName" name = "fName">  <br>
                <br>
                <button class="button" type="buttom"> Save </button>
                <button class="button" type="buttom"> Edit Events </button>
     </div>
     </div>


</body>
</html>