<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management Reviews</title>
    <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>
<style>
		body {
			background-color: #FEEEB1;
		}
	</style>

<navigation-component>

</navigation-component>


<div class="right">
    <h1 id="header">Account
        <br>
        <br>
        <p1 id="reviewHead">Reviews</p1>
        </br>
        <br>
    </h1>
    <br>
    <br>
    <div class="grid-container2">
        <table id="mgmtUsers">
            <tr>
                <th>Event</th>
                <th>Reviewer</th>
                <th>Event Date</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>