<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management Analytics</title>
    <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>


<management-navigation-component></management-navigation-component>


<div class="right">
    <h1 id="header"> Account
        <br>
        <br>
        <p1 id="reviewHead"> Analytics Dashboard</p1>
        </br>
        <br>
        <button class="button" type="button"> Create New Event</button>
        <button class="button" type="button"> Manage Event</button>
    </h1>

    <div class="ratingsAnalytics">
        <h3>Average Guest Review Rating</h3>
        <div class="rating">
            <div class="stars">
                {% for i in range(5) %}
                    {% if i < rating %}
                        <span class="star">&#9733;</span>
                    {% else %}
                        <span class="star">&#9734;</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="score">{{ rating }}</div>
        </div>
    </div>


    <div class="inquiriesAnalytics">
        <h3>Number of Event Services Inquiries</h3>
        <div class="inquiries">
            <div class="score">{{ num_event_inquiries }}</div>
        </div>
    </div>

    <div class="contractAnalytics">
        <h3>Number of Event Services Inquiries</h3>
        <div class="contracts">
            <div class="score">{{ num_contract_inquiries }}</div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <h3>Number of Event Per Month</h3>
        <div class="col-12 row d-flex justify-content-center" id="events_per_month_graph"></div>
    </div>

</div>

<script>
    Plotly.newPlot('events_per_month_graph', JSON.parse('{{ events_per_month_graph|safe }}'));
</script>

</body>
</html>