<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/modal.js" type="application/javascript" defer></script>
    <script src="/static/scripts/editEventModal.js" type="application/javascript" defer></script>
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>



<navigation-component>

</navigation-component>


<div class="right">
    <h1 id="header"> Inquiry</h1>
    <div class="mainContent">



    </div>


</body>
</html>