<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
</head>
<body>
      <div class="split left">
        <img src="/static/images/lucidlogo.png" width="80px" height="80px" id="lucidHomeLogo"> <br>
        <br>
        <img src="/static/images/user.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management"> Personal Information </a> </label> <br> <br>
         <img src="/static/images/review.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/reviews"> Reviews </a> </label> <br> <br>
        <img src="/static/images/add.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/analytics"> Analytics </a> </label> <br> <br>
        <img src="/static/images/data.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/users"> Add Management Accounts </a> </label> <br> <br>
        <img src="/static/images/hello.webp" width="40px" height="40px" id="lucidHomeLogo">
          <label style="color: blue">  <a href="/management/inquiries"> Inquiries </a> </label> <br> <br>
        <img src="/static/images/event.png" width="40px" height="40px" id="lucidHomeLogo">
          <label style="color: blue">  <a href="/management/events"> Create New Events </a> </label> <br> <br>
        <img src="/static/images/event.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/events"> Listed Events </a> </label> <br> <br>
        <button class="button" type="buttom"> Sign Out </button>
    </div>

 <div class="split right">
     <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Create New Event </p1> </br>
                <br>
                </h1>
     <div id="event">
                <label for="fName"> Event Name: </label>
                    <input type="text" id="fName" name = "fName">  <br>
                <label for="fName"> Event Address: </label>
                    <input type="text" id="fName" name = "fName">  <br>
                <label for="fName"> Event Date: </label>
                    <input type="date" id="fName" name = "fName">  <br>
                <label for="fName"> Event Theme: </label>
                    <input type="text" id="fName" name = "fName">  <br>
                <br>
                <button class="button" type="buttom"> Save </button>
                <button class="button" type="buttom"> Edit Events </button>
     </div>
     </div>


</body>
</html>