<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management Inquiries</title>
     <link rel="stylesheet" type="text/css" href="/static/css/maccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>



    <navigation-component>

    </navigation-component>

         <div class="right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Inquiries </p1> </br>
                <br>
            </h1>
         <br>
            <br>
            <div class="grid-container">
                <div class="header"> Inquiry Category  </div>
                <div class="header">  Inquirer  </div>
                <div class="header"> Inquiry Date  </div>
                <div class="inside"> Media Contracting </div>
                <div class="inside"> Client Name </div>
                <div class="inside"> Date </div>
            </div>
             <br>

     </div>
</body>
</html>