#Instagram {
    color:blue;
}

h1 {
  font-family: "Gill Sans";
  color: #F7C679;
  text-align: left;
}

p1 {line-height: 2;
}

h1{padding-top: 100px
}

.connectWith{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
img#instagram{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
}






