



.button {
    background-color: #0B53B2;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    align-items: center;
    width: 10rem;
    height: 2rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

form .row {
    display: flex;

}

form .col {
    margin: 1rem;

}

form input {
    border-radius: .5rem;
    height: 1.7rem;
    width: 10rem;
}


#header {
    font-weight: lighter;
    color: blue;
}

#reviewHead {
    font-weight: lighter;
    color: black;
    font-size: 0.75em;
}

.header {
    background: #FDDA0D;
    border: 1px solid black;
    font-family: gill sans;
    font-weight: lighter;
    padding: 1.5em;
}

.headermain {
    background: #FDDA0D;
    border: .15em solid black;
    font-family: gill sans;
    font-weight: lighter;
    padding: 1em;
}

.inside {
    border: .15em solid black;
    background-color: white;
    font-family: gill sans;
    padding: 1em;
    font-weight: lighter;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
}

.grid-container2 {
    display: grid;
    margin: 1em;
    padding: 1em;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5em;}