h1 {
  font-family: "Gill Sans";
  font-style: italic;
  color: #0B53B2;
    text-align: center;
    padding-left: 420px;
}

label {line-height: 2;
      font-family: "Gill Sans";
    padding-left: 100px;
}

p {line-height: 2;
      font-family: "Gill Sans";
    padding-left: 100px;
}
h1{padding-top: 100px
}


input[type=submit]{
    background-color:#0B53B2;
    font-family:gill sans;
    cursor:pointer;
    color:white;
    padding: 14px 40px;
    box-sizing: border-box;
    padding-left: 100px;
    width: calc(100% - 100px);
}