p{
    font-weight: bold;
}

.create{
    font-weight: lighter;
    font-style: italic;
}
body {
  position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 650px;
			height: 650px;
            border-style: solid;
            border-width: 7px;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: #0B53B2;
}

.right {
  right:0;
  background-color: white;
}

.centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -300%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}


#form {
    font-family: gill sans;
    text-align: left;
    font-size: 1em;
    padding-left: 20px;
    height: 20px;

}

body {
    background-color: lightgray;
}

#head {
    font-size: 1.5em;
    font-family: gill sans;
    color: #F7C679;
    padding-left: 5px;
    padding-right: 25px;
    font-weight: bold;
}

#subhead {
    font-size: 1.15em;
    font-family: gill sans;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 25px;
    font-weight: lighter;
}

input[type=submit]{
    background-color:#0B53B2;
    font-family:gill sans;
    cursor:pointer;
    color:white;
    padding: 14px 40px;
}



