.right{
    width: 55vw;
}
.right h1{
    margin-left: 1rem;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
form .row {
    display: flex;
    flex-wrap: wrap;

}
form .col{
    margin: 0.5rem;

}
form input{
    border-radius: .5rem;
    height: 1.7rem;
    width: 10rem;
}
form select{
    height: 1.7rem;
    width: 8rem;
    border-radius: 0.5rem;
}
.selectContainer{
    display: flex;
    margin-bottom: 1rem;
}
form #submit{
    background-color: #0B53B2;
    width: 10rem;
    height: 2rem;
    color: white;
    border-radius: 0.5rem;
}

#backToLogin {
    padding-top: 75%;
    padding-left: 5%;
    color: yellow;
}

