

div.events{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.event{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 1rem;
}
.event:hover{
    scale: 1.2;
}


i{
    position: absolute;
    top: .25rem;
    right: .25rem;
    color: #818488

}
i:hover {
    color: yellow;
    cursor: pointer;
}
.time{
    position: absolute;
    background-color: White;
    left: 2rem;
    top: 1rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
    opacity: 0.9;
}



.event img{
    margin: 20px;
    width: 16rem;
    height: 16rem;
    border-radius: 30px;
}

.dropDownMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}
select#occurance{

    height: 3rem;
    width: 15rem;
    background-color: #0B53B2;
    color: white;
    border-radius: 1rem;
}
#browse{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

#eventOccurrences{
    font-size: 1rem;

}







