
.button {
    background-color: #0B53B2;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    align-items: center;
    width: 10rem;
    height: 2rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

form .row {
    display: flex;

}

form .col {
    margin: 1rem;

}

form input {
    border-radius: .5rem;
    height: 1.7rem;
    width: 10rem;
}


#header {
    font-weight: lighter;
    color: blue;
}

#reviewHead {
    font-weight: lighter;
    color: black;
    font-size: 0.75em;
}

.header {
    background: #FDDA0D;
    border: 1px solid black;
    font-family: gill sans;
    font-weight: lighter;
    padding: 1.5em;
}

.headermain {
    background: #FDDA0D;
    border: .15em solid black;
    font-family: gill sans;
    font-weight: lighter;
    padding: 1em;
}

.inside {
    border: .15em solid black;
    background-color: white;
    font-family: gill sans;
    padding: 1em;
    font-weight: lighter;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
}

.grid-container2 {
    display: grid;
    margin: 1em;
    padding: 1em;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5em;
}


div.events{
    display: flex;
    padding-top: 12%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 80%;
}
.event{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.event:hover{
    scale: 1.2;
}


#saveIcon{
    position: absolute;
    top: .25rem;
    right: .25rem;
    height: 3rem;
    width: 3rem;
    background-color: #0B53B2;
}
#saveIcon:hover {
    background-color: white;
}
.time{
    position: absolute;
    background-color: White;
    left: 2rem;
    top: 1rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
    opacity: 0.9;
}



.event img{
    margin: 20px;
    width: 16rem;
    height: 16rem;
    border-radius: 30px;
}

.dropDownMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}
select#occurance{

    height: 3rem;
    width: 15rem;
    background-color: #0B53B2;
    color: white;
    border-radius: 1rem;
}
#browse{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

#eventOccurrences{
    font-size: 1rem;

}
