
#homeText {
    color: yellow;
    text-align: center;
}
@keyframes pictures {
    0% {opacity: 1; background-image: url("/static/images/line.JPG");}
    50% {opacity: 1; background-image: url("/static/images/bonfire.jpg");}
    100% {opacity: 1; background-image: url("/static/images/abo.png");}
}


/* The element to apply the animation to */
body {
    background-size: cover;
    background-repeat: repeat;
    animation-name: pictures;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
