.right {
    width: 35vw;


}

.rightContent {
    margin-left: 1rem;
}

form input {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    height: 1.5rem;
}

form #submit {
    background-color: #0B53B2;
    width: 10rem;
    height: 2rem;
    color: white;
    margin-top: 1rem;
}


#backToHome {
    padding-top: 75%;
    padding-left: 5%;
    color: yellow;
}












