.split {
  height: 100%;
  width: 65%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: lightgray;
    padding-top: 80px;
    padding-left: 40px;
    font-size: 1.5em;
    font-family: gill sans;
    font-weight: lighter;
}

.right {
  right:0;
  background-color: white;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 30px;
    font-family: gill sans;
    font-weight: lighter;

}

.button {
    font-family:gill sans;
    font-size: 10pt;
    background-color: #0B53B2;
    cursor:pointer;
    color:white;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,.5);
}

#header {
    font-weight: lighter;
    color: blue;
}

#reviewHead {
    font-weight: lighter;
    color: black;
}

.header{
    background: #FDDA0D;
    border:1px solid black;
    font-family: gill sans;
    font-weight: lighter;
    padding: 10px;
}

.headermain{
    background: #FDDA0D;
    border:1px solid black;
    font-family: gill sans;
    font-weight: lighter;
    padding: 5px;
}

.inside{
    border:1px solid black;
    background-color: white;
    font-family: gill sans;
    padding: 10px;
    font-weight: lighter;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.grid-container3 {
  display: grid;
    margin: 10px;
    padding: 10px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
}