#header {
    color: #0B53B2;
}

#mgmtUsers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 92%;
}

#mgmtUsers td, #mgmtUsers th {
    border: .2rem solid black;
    padding: 2rem;
}


#mgmtUsers tr:nth-child(even) {
    font-size: 2rem;
    font-family: gill sans;
    font-weight: lighter;
}

#mgmtUsers tr:nth-child(odd) {
    font-size: 2rem;
    font-family: gill sans;
    font-weight: lighter;
}

#mgmtUsers th {
    text-align: left;
    color: black;
    font-size: 2rem;
    font-family: gill sans;
}

.grid-container2 {
    display: grid;
    margin: 1em;
    padding: 1em;
}