body{
    background-image: url("/static/images/bonfireback.png");
    background-size: cover;
}

p, label{
    font-family: gill sans;
    font-weight:lighter;
    font-size: 1.5em;
    color: black;
    padding-bottom: 20px;
    margin: 10px;
}

h1 {
    font-weight: bold;
    font-style: revert;
    font-family: gill sans;
    font-size: 2em;
    color:black;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 10px;
}

input[type=submit]{
    background-color:#0B53B2;
    font-family:gill sans;
    font-size: 15pt;
    cursor:pointer;
    color:white;
    padding: 14px 40px;
    border-radius: 15px;
    margin: 20px;
    border: 1px solid rgba(255,255,255,.5);
}

.container {
    padding-top: 20px;
    width: 50%;
    height: 20%;
}



