body{
    background-image: url("/static/images/bonfireback.png");
    background-size: cover;
}

p, label{
    font-weight: lighter;
    font-family: gill sans;
    font-size: 1em;
    padding-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-family: gill sans;
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 20px;
}

input[type=submit]{
    background-color:#0B53B2;
    font-family:gill sans;
    font-size: 15pt;
    cursor:pointer;
    color:white;
    padding: 14px 40px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,.5);
}



