<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Client Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/caccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/clientAccountNavigation.js" type="application/javascript" defer></script>
</head>
<body>

<navigation-component></navigation-component>


     <div class="right">
    <h1 id="header"> Account
        <br>
        <br>
        <button class="button" type="button"> Edit Information</button>
        <button class="button" type="button"> Save</button>
    </h1>

    <br>
    <br>
    <form>
        <div class="row">
            <div class="col">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="phoneNumber">Phone:</label>
                <input type="text" class="form-control" placeholder="222-333-4444">
            </div>
            <div class="col">
                <label for="email">Email:</label>
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="dob">Date of Birth:</label>
                <input type="text" class="form-control" placeholder="MM/DD/YYYY">
            </div>
            <div class="col">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control">
            </div>
        </div>

    </form>

</div>

</body>
</html>