<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Collaborations</title>
    <link rel="stylesheet" type="text/css" href="/static/css/collaborations.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/generalNavigation.js" defer></script>


</head>

<body>

<navbar-component></navBar-component>


<div class="mainContainer">
    <div class="content">
        <h1 id="title">Collaborate With Us</h1>
        <div class="communityCollab">
            <img src="/static/images/collabImage.png" id="collabImage" alt="collabImage">


            <p id="collabDescription"> Community is paramount here at Lucid Productions, and we're always looking to
                build the
                Lucid Family. Along with the event services we provide, there are always opportunities for media
                contractors to
                cover events and for vendors to sell their products at events.

            </p>
        </div>


        <h2 id="which"> Which of the following interests you? </h2>

    </div>

    <div class="buttonContainer">
        <form style="display: inline" action="/client/interestForm" method="get">
            <button>Event Inquiries</button>
        </form>
        <form style="display: inline" action="/client/contractWorker" method="get">
            <button>Contractor/Vendor Opportunities</button>
        </form>
    </div>
</div>


<footer-component></footer-component>


</body>
</html>