<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract Worker Inquiries</title>
    <link rel="stylesheet" type="text/css" href="/static/css/contractWorker.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<div class="navDiv">

<nav class="navbar">


    <div class="logo"><img src="/static/images/lucidLogo.png" id="logo" alt="logo"></div>


    <!-- USING CHECKBOX HACK -->

    <input type="checkbox" id="checkbox_toggle"/>

    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->

    <div class="menu">
        <ul>
                <li><a href="/static">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>



        </ul>


    </div>


</nav>
</div>


<div class = "mainContainer">
    <h1><strong>Media Contractor/Vendor Interest Form</strong></h1>

     <br>
          <br>
        <p> </p>
        <strong><label for="coRes"> Full Name* </label>
    <input type="text" id="coRes2" name = "coRes2"> <br>

        <p> </p>
        <label for="tel"> Phone* </label>
    <input type="tel" id="tel" name = "tel">  <br>
  <p> </p>
        <label for="tel"> Email* </label>
    <input type="tel" id="tel" name = "tel">  <br>
  <p> </p>
        <label for="tel"> Company </label>
    <input type="tel" id="tel" name = "tel">  <br>
    <p> Which are you interested in?* </p>
                <label for="way"> Media Contractor Jobs </label>
                    <input type="radio" id="way" name = "way"> <br>
                 <label for="way2"> Vendor Inquiries </label>
                    <input type="radio" id="way2" name = "way2"> <br>
    <label for="coRes"> Describe your services:* </label>
    <input type="text" id="coRes2" name = "coRes2"> <br>
                  <label for="way3"> Please attach your resume* </label>
                    <input type="file" id="myFile" name = "filename"> <br>
            <label for="way3"> If applicable, attach a previous work  </label>
                    <input type="file" id="myFile" name = "filename"> <br>


    <button> Submit </button>


</strong>

</div>



<footer>
             <h6 class="underdog"> 407 Solutions</h6>
        <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>




</footer>
</body>
</html>