<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contract Worker Inquiries</title>
    <link rel="stylesheet" type="text/css" href="/static/css/contractWorker.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="/static/scripts/generalNavigation.js" type="application/javascript" defer></script>


</head>

<body>

<navbar-component></navBar-component>

{% if form_submitted==True %}
        <div class="container-fluid px-0 bg-danger">
            <div class="row g-0">
                <div class="col-lg-6 vh-100 bg-primary" >
                    <h1 id = 'head'> WELCOME TO <br> LUCID PRODUCTIONS</h1>
                    <h2 id = 'subhead'> Where dreams become reality</h2>
                </div>
                <div class="col-lg-6 vh-100 bg-light">
                    <p id="ty"> Thank you <strong> {{request.form.get('fName')}} </strong> for submitting the interest form!</p>
                    <p id="ty"> We cannot wait to review your work! </p>
                </div>
                    <label id="ty" style="color: blue"> <br>  <a href="/"> <- Back to Home</a> </label>
                </div>
            </div>
        </div>

{% else %}

<form class="row g-3" action="{{ url_for('contractWorker') }}" method="post">
<div class="mainContainer">
    <h1><strong>Contractor/Vendor Interest Form</strong></h1>

    <form>
        <div class="formContent">
            <div class="left">
                <label for="coRes2"> First Name*</label>
                <input input type="text" id="coRes2" name="coRes2" required> <br>
                <label for="coRes"> Last Name* </label>
                <input type="text" id="coRes2" name="coRes2" required> <br>
                <label for="tel"> Phone* </label>
                <input type="tel" id="tel" name="tel" required> <br>
                <label for="email"> Email* </label>
                <input type="email" id="email" name = "email" required>  <br>
                <label for="tel"> Company </label>
                <input type="tel" id="tel" name="tel"> <br>
                <label for="cars">Service</label>
                <select name="service - types" id="services-types">
                    <option value="contractor">Contractor</option>
                    <option value="vendor">Vendor</option>
                </select> <br>
            </div>
            <div class="right">


                <label for="coRes"> Describe your services:* </label>
                <textArea type="text" id="service_description" name="service_description" required> </textArea> <br>
                <label for="way3"> Please attach your resume* </label>
                <input type="file" id="myFile" name="filename"> required <br>
                <label for="way3"> If applicable, attach a previous work </label>
                <input type="file" id="myFile" name="filename"> <br>


            </div>
        </div>
        <button> Submit</button>

    </form>


</div>
</form>
{% endif %}

<footer-component></footer-component>
</body>
</html>