<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract Worker Inquiries</title>
    <link rel="stylesheet" type="text/css" href="/static/css/eventInquiry.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<div class="navDiv">

<nav class="navbar">


    <div class="logo"><img src="/static/images/lucidLogo.png" id="logo" alt="logo"></div>


    <!-- USING CHECKBOX HACK -->

    <input type="checkbox" id="checkbox_toggle"/>

    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->

    <div class="menu">
        <ul>
                <li><a href="/static">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>



        </ul>


    </div>


</nav>
</div>

<div class = "interest">
    <center><h1><strong>Event Services Inquiry Form</strong></h1></center>

    <label style="color: blue">  <a href="/account/createAccount"> Sign Up!</a> </label>
     <br>
          <br>
        <p> </p>
        <strong><label for="coRes"> Event Type* </label>
    <input type="text" id="coRes2" name = "coRes2"> <br>

        <p> </p>
        <label for="tel"> Phone* </label>
    <input type="tel" id="tel" name = "tel">  <br>
  <p> </p>
        <label for="tel"> Company </label>
    <input type="tel" id="tel" name = "tel">  <br>
  <p> </p>
        <label for="tel"> Email </label>
    <input type="tel" id="tel" name = "tel">  <br>

    <label for="coRes"> What are your event needs?* </label></strong>
<textarea id="event-needs" name="event-needs" rows="5" cols="50"></textarea>


    <button> Submit </button>



  </div>

<div class="TikiEvent">
     <center><img src = "/static/images/Tiki.png" alt="TikiEvent" width="500cm;" height="400cm;"></center>
</div>


<footer>
             <h6 class="underdog"> 407 Solutions</h6>
        <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>



</footer>
</body>
</html>