<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contract Worker Inquiries</title>
    <link rel="stylesheet" type="text/css" href="/static/css/eventInquiry.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<div class="navDiv">

    <nav class="navbar">


        <div class="logo"><img src="/static/images/lucidLogo.png" id="logo" alt="logo"></div>


        <!-- USING CHECKBOX HACK -->

        <input type="checkbox" id="checkbox_toggle"/>

        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->

        <div class="menu">
            <ul>
                <li><a href="/static">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>


            </ul>


        </div>


    </nav>
</div>

<div class="mainContainer">
  <h1><strong>Event Services Inquiry Form</strong></h1>
    <form>
         <div class="formContent">

        <div class="left">

          <label for="eventType"> Event Type: </label>
            <input type="text" id="event-type" name="coRes2"> <br>

            <label for="phone"> Phone: </label>
            <input type="text" id="phone" name="phone"> <br>
            <label for="company"> Company: </label>
            <input type="text" id="company" name="company"> <br>
            <label for="email"> Email: </label>
            <input type="text" id="email" name="email"> <br>
        </div>
        <div class="right">

            <label for="event-needs"> What are your event needs? </label></strong>
            <textarea id="event-needs" name="event-needs" ></textarea>
        </div>
    </div>


    <button> Submit</button>
    </form>



</div>


<footer>
    <h6 class="underdog"> 407 Solutions</h6>
    <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>


</footer>
</body>
</html>