<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/background.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="/static/scripts/generalNavigation.js" defer></script>


</head>

<body>

<navbar-component></navBar-component>
<div class = "mainContainer">
    <h1>
     <strong>About Lucid Productions</strong>
    </h1>


    <img src="/static/images/LucidFounders.jpg" id ="lucidFounders" alt="Lucid Founders">

        <p>Lucid Productions is a growing event planning and hosting business founded by University Of Maryland
            students Mervyn Akumbu, Jason Goldman, and Griffin Shirodkar. At our core, we pride ourselves in our
            convenience in making all arrangements and accommodations for our clients, catered specifically to their
            individual needs. We handle all aspects of the planning phase, including offering preliminary ideas for
            scheduling, catering, activity offerings, and location scouting. Following the planning phase, we also work
            closely with our partners on the designing of invitations, decorations, and specialized menu items for all
            events.


            Having planned and carried out dozens of social events with hundreds of attendees including app launch
            parties, fraternity social events, and music performances, Lucid Productions is the premier organization for
            planning events in the University of Maryland community.
        </p>
<br>
    <div class="connectWith">
        <a id="Instagram" href="https://instagram.com/lucideventprod" target="_blank"><p><strong>Connect With
            Us! </strong></p></a>
        <img src="/static/images/instagram.png" id="instagram" alt="Instagram Logo">

    </div>


</div>


<footer-component></footer-component>
</body>
