<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>About Page</title>
     <link rel="stylesheet" type="text/css" href="../static/css/about.css">
       <link rel="stylesheet" href="../static/css/navbar.css">






 <body>




 <div class="navDiv">


<nav class="navbar">




   <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>




   <!-- USING CHECKBOX HACK -->


   <input type="checkbox" id="checkbox_toggle"/>


   <label for="checkbox_toggle" class="hamburger">&#9776;</label>


   <!-- NAVIGATION MENUS -->


   <div class="menu">
       <ul>
                <li><a href="/">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>




       </ul>




   </div>




</nav>
</div>
 <div>
     <h1><center><strong>About Lucid Productions</strong></center></h1>


     <center><img src = "../static/images/LucidFounders.jpg" alt="Lucid Founders" width="310cm;" height="310cm;"></center>
     <center><p1>Lucid Productions is a growing event planning and hosting business founded by University Of Maryland students Mervyn Akumbu, Jason Goldman, and Griffin Shirodkar. At our core, we pride ourselves in our convenience in making all arrangements and accommodations for our clients, catered specifically to their individual needs. We handle all aspects of the planning phase, including offering preliminary ideas for scheduling, catering, activity offerings, and location scouting. Following the planning phase, we also work closely with our partners on the designing of invitations, decorations, and specialized menu items for all events.


Having planned and carried out dozens of social events with hundreds of attendees including app launch parties, fraternity social events, and music performances, Lucid Productions is the premier organization for planning events in the University of Maryland community.
</p1></center>


      <center><p><strong>Connect with us on <a id="Instagram" href="https://instagram.com/lucideventprod" target="_blank">Instagram!</a> </p></center></strong></center>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>




 </div>


   <footer>
           <h6 class="underdog"> 407 Solutions </h6>
           <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>



   </footer>
</body>
