<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Access Denied</title>
        <link rel="stylesheet" href="/static/css/accessDenied.css">
    <link rel="stylesheet" href="/static/css/background.css">
</head>
<body>


<h1 id="header"> Access Denied</h1>
    <br>
    <br>
    <p id="reviewHead">You do not have access to this page.</p>
    <br>
    {% if variable is not none %}
    <p >{{ error }}</p>
    {% endif %}
    <br>

<a href="/"><h2 id="backToHome">Back to Home</h2></a>

</body>
