<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Event</title>
    <link rel="stylesheet" type="text/css" href="/static/css/eventInquiry.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/modal.js" defer></script>
    <script src="/static/scripts/editEventModal.js" defer></script>
    <link rel="stylesheet" href="/static/css/background.css">
    <script src="/static/scripts/clientAccountNavigation.js" defer></script>

</head>
<body>


<client-navigation-component></client-navigation-component>


<div class="right">
    <h1 id="header"> Submit Inquiries</h1>
    <div class="mainContent">
        {% if form_submitted %}
            <div class=submitMessageDiv>

                <div class="submitMessage">
                    <h2>Thank You For Completing The Form </h2>
                </div>
                <div class="submitMessage">
                    <p>Event Type: {{ request.form.get('event_type') }} </p>
                </div>
                <div class="submitMessage">
                    <p>Name: {{ request.form.get('name') }} </p>
                </div>
                <div class="submitMessage">
                    <p>Phone: {{ request.form.get('phone') }} </p>
                </div>
                <div class="submitMessage">
                    <p>Company: {{ request.form.get('company') }} </p>
                </div>
                <div class="submitMessage">
                    <p>Email: {{ request.form.get('email') }} </p>
                </div>
                <div class="submitMessage">
                    <p>Event Needs: {{ request.form.get('event_needs') }} </p>
                </div>

                <a href="{{ url_for('eventInquiry') }}"><h3>&lt;&lt; Complete form</h3></a>
            </div>
        {% else %}

            <form class="row g-3" action="{{ url_for('eventInquiry') }}" method="post">
            <div class="formContent">

                <div class="leftForm">

                    <label for="eventType"> Event Type: </label>
                    <input type="text" id="event-type" name="event_type"> <br>
                    <label for="name"> Name: </label>
                    <input type="text" id="name" name="name"> <br>
                    <label for="phone"> Phone: </label>
                    <input type="text" id="phone" name="phone"> <br>
                    <label for="company"> Company: </label>
                    <input type="text" id="company" name="company"> <br>
                    <label for="email"> Email: </label>
                    <input type="email" id="email" name="email"> <br>
                </div>
                <div class="rightForm">

                    <label for="event_needs"> What are your event needs? </label>
                    <textarea id="event-needs" name="event_needs"></textarea>
                </div>
            </div>


            <button> Submit</button>
        {% endif %}

        </form>


    </div>


</div>


</body>
</html>