<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../static/css/collaborations.html">

body {
    background-color: blue;
                                                                                                                                                                                   }
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
   <img src = "static/images/lucidLogo.png"  alt= "Lucid Logo" width="100em;" height="100em;" align=left>
    nav{
    background-color: #0B53B2;
}
.nav-link {
    color: white;
}
.navbar-nav{
    margin-left: auto;
}

footer{
    background-color: #0B53B2;
    height: 10%;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
div.footer{
    width: 100%;

}
h6.underdog{
    padding-top: 10px;
}
p.copyright{
    font-size: small;
}


#logo{
    position: relative;

    width: 50px;
    height: 50px;
    padding: 0px;
    z-index: 100;

}
.navbar-toggler{
    right: 0;
    position: fixed;
  </body>
</html>