<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collaborations</title>
    <link rel="stylesheet" type="text/css" href="../static/css/collaborations.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
<div class="navDiv">

    <nav class="navbar">


        <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>


        <!-- USING CHECKBOX HACK -->

        <input type="checkbox" id="checkbox_toggle"/>

        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->

        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>

            </ul>


        </div>


    </nav>

</div>

<div class = "mainContainer">
    <h1 id="which"> Which one of these applies to you? </h1>
    <a href="/client/form">
        <button id="cen"> Event Inquiry Form</button>
    </a>
    <a href="/collaborations/contractWorker">
        <button>Media Contract/Vendor Interest Form</button>
    </a>

</div>





    <footer>
            <h6 class="underdog"> 407 Solutions</h6>
            <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>



    </footer>


</body>
</html>