<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collaborations</title>
    <link rel="stylesheet" type="text/css" href="collaborations.css">
          <link rel="stylesheet" href="../static/css/navbar.css">

  </head>
  <body>
  <div class="navDiv">

<nav class="navbar">


    <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>


    <!-- USING CHECKBOX HACK -->

    <input type="checkbox" id="checkbox_toggle"/>

    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->

    <div class="menu">
        <ul>
            <li><a href="home.html">Home</a></li>

            <li><a href="events.html">Events</a></li>

            <li><a href="collaborations.html">Collaborations</a></li>

            <li><a href="about.html">About</a></li>
            <li><a href="login.html">Login</a></li>


        </ul>


    </div>


</nav>
</div>

  <div>
      <img src="../static/images/lucidlogo.png" alt= "Lucid Logo"
           width="50px;" height="50px;">
  </div>
    </h1>
    <h2>Collaborations</h2>
<p><center>Contractor/Vendor Interest</center></p>
    <p><center>Event Services Inquiry</center></p>
  <p><center>Website by 407 Solutions</center></p>
  </div>
<div class = "footer">

<footer>
    <div class="footerContent">
             <h6 class="underdog"> 407 Solutions</h6>
        <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>


    </div>

</footer>
</div>

  </body>
</html>