<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="../static/css/collaborations.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
<div class="navDiv">

<nav class="navbar">


    <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>


    <!-- USING CHECKBOX HACK -->

    <input type="checkbox" id="checkbox_toggle"/>

    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->

    <div class="menu">
        <ul>
            <li><a href="home.html">Home</a></li>

            <li><a href="events.html">Events</a></li>

            <li><a href="collaborations.html">Collaborations</a></li>

            <li><a href="about.html">About</a></li>
            <li><a href="login.html">Account</a></li>


        </ul>


    </div>


</nav>
    <div>
        <h1 id="which"> Which one of these applies to you? </center> </h1>
        <br>
        <br>
        <center> <button onlick="eventInquiry.html"> Event Inquiry Form </button>
        <button onlick="contractWorker.html"> Media Contract Vendor Interest Form </button>

        <p></p>
    </div>
       <div>
        <p></p>
    </div>
</div>



<div class = "footer">

<footer>
    <div class="footerContent">
             <h6 class="underdog"> 407 Solutions</h6>
        <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>


    </div>

</footer>

</body>
</html>