<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Lucid Management Account</title>
    <link rel="stylesheet" type="text/css" href="../static/css/createAccount.css">
</head>
<body>
<div class="split left">
        <h1 id = 'head'> WELCOME TO <br> LUCID PRODUCTIONS</h1>
            <h2 id = 'subhead'> Where dreams become reality</h2>
    </div>

     <div class="split right">
            <form id="form">
                <p class="create"> Let's create an management account! </p>
                <label for="fName"> First Name : </label> <br>
                    <input type="text" id="fName" name = "fName">  <br>
                <label for="lName"> Last Name : </label> <br>
                    <input type="text" id="lName" name = "lName">  <br>
                <label for="email"> Email : </label> <br>
                    <input type="email" id="email" name = "email"> <br>
                <label for="pwd"> Password : </label> <br>
                    <input type="password" id="pwd" name = "pwd"> <br>
                <p> </p>
                <p> Please select your country <br> of residence: </p>
                <label for="coRes"> United States of America </label>
                    <input type="radio" id="coRes" name = "coRes"> <br>
                <label for="coRes2"> Other: </label>
                    <input type="text" id="coRes2" name = "coRes2"> <br>
                <p> </p>
                <label for="tel"> Phone : </label> <br>
                    <input type="tel" id="tel" name = "tel">  <br>
                <label for="zip"> Zip/Postal Code: </label> <br>
                    <input type="text" id="zip" name = "zip">  <br>
                <p> </p>
                <p> </p>
                <input type="submit" value ="Submit"> <br>
                <label style="color: blue"> <br>  <a href="management.html"> <- Back to Account</a> </label>
            </form>
        </div>
    </div>

</body>
</html>