<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/createAccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/loginConstant.css">

</head>
<body>
<style>
		body {
			background-color: #F7DC82;
		}
	</style>

<div class="left">
    <h1 id="heading"> WELCOME TO <br>LUCID PRODUCTIONS</h1>
    <h2 id="subheading"> Where dreams become reality </h2>
</div>
<div class="right">
    <div class="rightContent">
        <h1> Create Account</h1>


        <form action="{{ url_for('create_account') }}" method="post">
            <div class="row">
                <div class="col">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="phoneNumber">Phone:</label>
                    <input type="text" class="form-control" placeholder="222-333-4444">
                </div>
                <div class="col">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="dob">Date of Birth:</label>
                    <input type="text" class="form-control" placeholder="00/00/0000">
                </div>
                <div class="col">
                    <label for="zip">Zip Code</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="pwd">Password:</label>
                    <input type="password" id="pwd" name="password" required>
                </div>
                <div class="col">
                    <div class="col">
                        <label for="pwd">Re-Enter Password:</label>
                        <input type="password" id="pwd" name="password" required>
                    </div>

                </div>
            </div>
            <div class = "selectContainer">
                            <label for="cars">Who are you :</label>
            <select name="userType" id="userType">
                <option value="client">Client</option>
                <option value="guest">Guest</option>
            </select>
            </div>



            <button id="submit" type="button"> Submit</button>
            <br>
        </form>
    </div>


</div>


</body>


</html>


