<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/events.css">
    <title>Events</title>


</head>
<body>
<div class="navDiv">

    <nav class="navbar">


        <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>


        <!-- USING CHECKBOX HACK -->

        <input type="checkbox" id="checkbox_toggle"/>

        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->

        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>


            </ul>


        </div>


    </nav>
</div>
<div class="eventPicker">
    <form class="form">
        <div>
            <label class="formLabel">
                From:<input type="date" name="fromDate"/>
            </label>
        </div>

        <div id="toDateLabel">
            <label class="formLabel">
                To: <input type="date" name="toDate"/>
            </label>
        </div>

        <div id="search">
            <button id="searchButton">Search</button>

        </div>

    </form>

</div>

<div class="events">
    <div class="event" id="event1">
        <a href="/events/reviews"> <img src="../static/images/valentinesParty.jpg" id="valentines" alt="Image 1">
        </a>
        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">
        <div class="time">
            <h3> 2/25/2021 @6pm</h3>
        </div>

    </div>
    <div class="event">
        <a href="/events/reviews"> <img src="../static/images/halloweenParty.jpg" id="halloween" alt="Image 2">
        </a>

        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">


    </div>
    <div class="event">
        <a href="/events/reviews"> <img src="../static/images/backToSchoolParty.jpg" id="" alt="Image 3">
        </a>

        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>
    <div class="event" id="event1">
        <img src="../static/images/comingSoon.avif" id="valentines" alt="Image 1">
        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>
    <div class="event">
        <img src="../static/images/comingSoon.avif" id="halloween" alt="Image 2">
        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>
    <div class="event">
        <img src="../static/images/comingSoon.avif" id="" alt="Image 3">
        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>
    <div class="event" id="event1">
        <img src="../static/images/comingSoon.avif" id="valentines" alt="Image 1">

        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>
    <div class="event">
        <img src="../static/images/comingSoon.avif" id="halloween" alt="Image 2">
        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>
    <div class="event">
        <img src="../static/images/comingSoon.avif" id="" alt="Image 3">
        <img src="../static/images/saveIcon.png" id="saveIcon" alt="Image 1" class="saveIcon">

    </div>


</div>



    <footer>
            <h6 class="underdog"> 407UnderDogs</h6>
            <p class="copyright">&copy; 2023 407UnderDogs. All Rights Reserved.</p>



    </footer>
</body>


</html>
