<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="../static/css/gaccount.css">
</head>
<body>
<div class="split left">
        <img src="../static/images/lucidlogo.png" width="80px" height="80px" id="lucidHomeLogo"> <br>
        <br>
        <img src="../static/images/user.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="guest"> Personal Information </a> </label> <br> <br>
        <img src="../static/images/folder.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="guest/flag"> Flagged Events </a> </label> <br> <br>
        <button class="button" type="buttom"> Sign Out </button>
    </div>

     <div class="split right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Personal Information </p1> </br>
                <br>
                <button class="button" type="buttom"> Edit Information </button>
                <button class="button" type="buttom"> Save </button>
            </h1>

            <br>
            <br>
              <div class="grid-container3">
                <div class="headermain"> First Name </div>
                <div class="inside"> Endalk </div>
                <div class="headermain"> Last Name </div>
                <div class="inside"> Makonnen </div>
                <div class="headermain"> Country of Residence </div>
                <div class="inside"> United States of America </div>
                <div class="headermain"> Zip/Postal Code </div>
                <div class="inside"> 20874 </div>
                <div class="headermain"> Phone </div>
                <div class="inside"> 240-441-5465 </div>
                <div class="headermain"> Email </div>
                <div class="inside"> endalkmakonnen@gmail.com </div>
            </div>

     </div>
     </div>

</body>
</html>