<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucid Productions</title>
    <link href="/static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="/static/scripts/homeSlideshow.js" type="application/javascript" defer></script>
    <script src="/static/scripts/generalNavigation.js" type="application/javascript" defer></script>


</head>

<body>

<navbar-component></navBar-component>


<div class = "mainContainer">
            <h1 id="companyName">Lucid Productions</h1>
            <h2 id="homeText" class="typingAnimation" typingSpeed="95"> Where Dreams Become Reality </h2>

</div>


<footer-component>
</footer-component>







</body>

</html>