<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucid Productions</title>
    <link href="/static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/navbar.css">

</head>

<body>

<div class="navDiv">
    <nav class="navbar">


        <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>


        <!-- USING CHECKBOX HACK -->

        <input type="checkbox" id="checkbox_toggle"/>

        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->

        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>


            </ul>


        </div>


    </nav>
</div>

<div class="homeContainer">
    <div class="homeText">
        <h1>LUCID PRODUCTIONS</h1>
    </div>

    <div class="slogan">
        <h3>WHERE DREAMS BECOME REALITY</h3>
    </div>

    <div class="LucidHomeLogo">
        <center><img src="../static/images/lucidLogo.png" id="lucidHomeLogo"></center>
    </div>


</div>


<div class="footer">

    <footer>
        <div class="footerContent">
            <h6 class="underdog"> 407UnderDogs</h6>
            <p class="copyright">&copy; 2023 407UnderDogs. All Rights Reserved.</p>


        </div>

    </footer>
</div>


</body>

</html>