<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login </title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/loginConstant.css">

</head>
<body>
<style>
		body {
			background-color: #FEEEB1;
		}
	</style>

    <div class="left">
        <h1 id="heading"> WELCOME TO <br>LUCID PRODUCTIONS</h1>
        <h2 id="subheading"> Where dreams become reality </h2>
        <a href="/"> <p id="backToHome">Back to Home</p></a>
    </div>
    <div class="right">
        <div class = "rightContent">
                    <h3 for="fName"> Want To Join The Lucid Family?</h3>

            <h4 > <a href="/account/createAccount"> Sign Up!</a> </h4>
            <h3> Log In </h3>

        <form id="form"action="{{ url_for('user_authentication.login') }}" method="post">

            <label for="coRes"> Username: </label>
            <input type="text" id="coRes2" name="username"> <br>
            <label for="tel"> Password: </label>
            <input type="password" id="tel" name="password"> <br>
            <input id="submit" type="submit" value="Sign In">
        </form>
        </div>


    </div>


</body>


</body>
</html>
