<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Analytics</title>
    <link rel="stylesheet" type="text/css" href="../static/css/maccount.css">
</head>
<body>
    <div class="split left">
        <img src="../static/images/lucidlogo.png" width="80px" height="80px" id="lucidHomeLogo"> <br>
        <br>
        <img src="../static/images/user.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management"> Personal Information </a> </label> <br> <br>
         <img src="../static/images/review.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/reviews"> Reviews </a> </label> <br> <br>
        <img src="../static/images/add.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/analytics"> Analytics </a> </label> <br> <br>
        <img src="../static/images/data.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/users"> Add Management Accounts </a> </label> <br> <br>
        <img src="../static/images/hello.webp" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/management/inquiries"> Inquiries </a> </label> <br> <br>
        <img src="../static/images/event.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="/events"> Events </a> </label> <br> <br>
        <button class="button" type="buttom"> Sign Out </button>
    </div>

     <div class="split right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Analytics Dashboard </p1> </br>
                <br>
                <button class="button" type="buttom"> Create New Event </button>
                <button class="button" type="buttom"> Manage Event </button>
            </h1>

     </div>
</body>
</html>