<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Reviews</title>
    <link rel="stylesheet" type="text/css" href="../static/css/managementreviews.css">
</head>
<body>
  <div class="split left">
        <img src="../static/images/lucid logo.png" width="80px" height="80px" id="lucidHomeLogo"> <br>
        <br>
        <img src="../static/images/user.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="management.html"> Personal Information </a> </label> <br> <br>
         <img src="../static/images/review.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="managementreviews.html"> Reviews </a> </label> <br> <br>
        <img src="../static/images/add.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="managementanalytics.html"> Analytics </a> </label> <br> <br>
        <img src="../static/images/data.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="managementusers.html"> Add Management Accounts </a> </label> <br> <br>
        <img src="../static/images/hello.webp" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="managementinquiries.html"> Inquiries </a> </label> <br> <br>
        <img src="../static/images/event.png" width="40px" height="40px" id="lucidHomeLogo">
        <label style="color: blue">  <a href="events.html"> Events </a> </label> <br> <br>
        <button class="button" type="buttom"> Sign Out </button>
    </div>

     <div class="split right">
            <h1 id="header"> Account
                <br>
                <br> <p1 id="reviewHead"> Reviews </p1> </br>
                <br>
            </h1>
         <br>
            <br>
            <div id="box">
                <div> <strong> Event </strong> </div>
                <div> <strong> Reviewer Name </strong> </div>
                <div> <strong> Event Date </strong></div>

            </div>

     </div>
</body>
</html>