<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reviews.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
<div class="navDiv">

<nav class="navbar">


    <div class="logo"><img src="../static/images/lucidLogo.png" id="logo" alt="logo"></div>


    <!-- USING CHECKBOX HACK -->

    <input type="checkbox" id="checkbox_toggle"/>

    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->

    <div class="menu">
        <ul>
            <li><a href="home.html">Home</a></li>

            <li><a href="events.html">Events</a></li>

            <li><a href="collaborations.html">Collaborations</a></li>

            <li><a href="about.html">About</a></li>
            <li><a href="login.html">Account</a></li>


        </ul>


    </div>


</nav>
</div>
        <div class="boxin">
<center> <p id="share"> SHARE YOUR OPINIONS WITH US! </p> </center>
    <form id="form">
     <center> <label for="Review"> Write a Review : </label> <br>
        <p> </p>
         <input type="text" id="textbox" name = "review"> <br> </center> <br>
         <center> <input type="submit" value ="Submit"> </center>
    </form>
        </div>

<div class = "footer">

<footer>
    <div class="footerContent">
             <h6 class="underdog"> 407UnderDogs</h6>
        <p class="copyright">&copy; 2023 407UnderDogs. All Rights Reserved.</p>


    </div>

</footer>

</body>
</html>