<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Client Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/caccount.css">
    <link rel="stylesheet" type="text/css" href="/static/css/background.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/clientAccountNavigation.js" type="application/javascript" defer></script>
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>
    <script src="/static/scripts/guestAccountNavigation.js" type="application/javascript" defer></script>

</head>
<body>
<script>
    var myVariable = {{ user_role|tojson }}
    console.log(myVariable)

</script>
{%  if user_role == 'GUEST' or user_role == 'guest' %}
<guest-navigation-component></guest-navigation-component>

{%  elif user_role == 'CLIENT' %}
<client-navigation-component></client-navigation-component>

{% elif user_role == 'ADMIN' %}
<management-navigation-component></management-navigation-component>

{% endif %}


<div class="right">
    <body> <p1 id="header"> Account </p1>
        <br>
        <br>
        <p1 id="reviewHead">Personal Information</p1>
        <br>
        <br>

    <br>
    <br>
    <form action="{{ url_for('user_authentication.user') }}" method="post">
        <div class="row">
            <div class="col">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" name='first_name' value={{ first_name }}>
            </div>
            <div class="col">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" name="last_name" value={{ last_name }}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" name = 'phone' value={{ phone }}>
            </div>
            <div class="col">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name='email' value={{ email }}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="dob">Date of Birth:</label>
                <input type="text" class="form-control" name="dob" value={{ dob }}>
            </div>
            <div class="col">
                <label for="zipcode">Zip Code</label>
                <input type="text" class="form-control" name='zipcode' value={{ zipcode }}>
            </div>
        </div>
                    <div class=buttonDiv>
                        <button class="button" type="submit"  name="save"> Save</button>
                        <button class="button" id="deleteButton" type="submit" name="delete" >Delete</button>

                    </div>
    </form>

</div>

</html>

