<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/account.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/static/css/background.css">
    <link rel="stylesheet" type="text/css" href="/static/css/accountNavigation.css">
    <script src="/static/scripts/clientAccountNavigation.js" type="application/javascript" defer></script>
    <script src="/static/scripts/managementAccountNavigation.js" type="application/javascript" defer></script>
    <script src="/static/scripts/guestAccountNavigation.js" type="application/javascript" defer></script>
    <script src="/static/scripts/modal.js" type="application/javascript" defer></script>

</head>
<body>

{% if user_role == 'GUEST' or user_role == 'guest' %}
    <guest-navigation-component></guest-navigation-component>

{% elif user_role == 'CLIENT'  %}
    <client-navigation-component></client-navigation-component>

{% elif user_role == 'ADMIN'  %}
    <management-navigation-component></management-navigation-component>

{% endif %}


<div class="right">
    <h1 id="header"> Account </h1>
    <br>
    <br>
    <h2 id="reviewHead">Personal Information</h2>
    <br>
    <br>

    <form action="{{ url_for('user_authentication.user') }}" method="post">
        <div class="row">
            <div class="col">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" name='first_name' value={{ first_name }}>
            </div>
            <div class="col">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" name="last_name" value={{ last_name }}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" name='phone' value={{ phone }}>
            </div>
            <div class="col">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name='email' value={{ email }}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control" name="dob" value={{ dob }}>
            </div>
            <div class="col">
                <label for="zipcode">Zip Code</label>
                <input type="text" class="form-control" name='zipcode' value={{ zipcode }}>
            </div>
        </div>
        <div class=buttonDiv>
            <button class="button" type="submit" name="save"> Save</button>
            <button class="button" id="myBtn" type="button"  name="delete">Delete Account</button>

        </div>
    </form>

</div>

  <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>



                    <div class="innerModalContent">
             <h1 id="modalTitle">Delete Account</h1>
                <h3 id="modal">Are you sure you want to delete your account?</h3>


                       <a href="{{ url_for('user_authentication.delete_user') }}"><button id="modalButton" type="submit">Delete</button> </a>

                    </div>


            </div>

        </div>

</body>
</html>

