<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Details</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/eventDetails.css">
    <script src="/static/scripts/slider.js" type="application/javascript" defer></script>
    <script src="/static/scripts/modal.js" type="application/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/scripts/generalNavigation.js" type="application/javascript" defer></script>
    <script src="/static/scripts/eventReview.js" type="application/javascript" defer></script>


</head>

<body>
<style>
    body {
        background-color: #FEEEB1;
    }
</style>
<navbar-component></navBar-component>

<div class="mainContainer">
    <div class="content">
        <div class="eventImages">
            <img id="eventImage" src="data:image/jpg;base64,{{ flyer }}">

        </div>
        <div class="textContent">
            <h1 id="which"> When?</h1>
            <p class="eventText">{{ date }} {{ time }}</p>
            <br>
            <br>
            <h1 id="which"> Description</h1>
            <p class="eventText"> {{ event.event_description }}</p>
            <br>
            <br>
            {% if event.event_date < currentDate %}
                {% if user_is_guest  %}
                <button id="myBtn">Leave Review</button>
                 {% else %}
                    <a href="/account/login"><button >Leave Review</button></a>
                  {% endif %}

            {% else %}
                <a href="https://posh.vip/">
                    <button id="buyTickets">Buy Tickets</button>
                </a>
            {% endif %}

        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <form action="{{ url_for('reviews') }}" method="post">
                    <input type="hidden" name="review_rating">
                    <input type="hidden" name="event_id" value={{ event_id }}>


                    <div class="innerModalContent">
                        <div class="reviewStars">
                            <span class="fa fa-star" id="oneStar"></span>
                            <span class="fa fa-star" id="twoStar"></span>
                            <span class="fa fa-star" id="threeStar"></span>
                            <span class="fa fa-star" id="fourStar"></span>
                            <span class="fa fa-star" id="fiveStar"></span>
                        </div>

                        <label> Describe Your Experience</label>
                        <textarea id="modalTextArea" type="text" name="review_text"></textarea>
                        <button id="modalButton" type="submit">Submit</button>

                    </div>
                </form>


            </div>

        </div>

    </div>


</div>


<footer-component></footer-component>

</body>
</html>