<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Details</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/futureEventDetails.css">
    <script src="/static/scripts/generalNavigation.js" type="application/javascript" defer></script>


</head>

<body>

<navbar-component></navBar-component>
<style>
		body {
			background-color: #F7DC82;
		}
	</style>

<div class="mainContainer">
    <div class="content">
        <img src="/static/images/comingSoon.jpg" id="comingSoon" alt="Image 1">
        <div class="textContent">
            <h1 id="which"> When?</h1>
            <p class="eventText">6/28/2023 6:00pm</p>
            <br>
            <br>
            <h1 id="which"> Description</h1>
            <p class="eventText">On Saturday, January 28, get ready for a collab event between Lucid and Room
                242(@room242records)! We're
                excited to welcome
                everyone back to school, and there's no better way to do that than with live music, food, and drinks.
                Dance
                the night away for only
                $5, and get your tickets in our bios before the price goes up!</p>
            <br>
            <br>
            <a href="https://posh.vip/">
                <button id="buyTickets">Buy Tickets</button>
            </a>
        </div>
    </div>


</div>


<footer-component></footer-component>


</body>
</html>