<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reviews.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<div class="navDiv">

    <nav class="navbar">


        <div class="logo"><img src="/static/images/lucidLogo.png" id="logo" alt="logo"></div>


        <!-- USING CHECKBOX HACK -->

        <input type="checkbox" id="checkbox_toggle"/>

        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->

        <div class="menu">
            <ul>
                <li><a href="/static">Home</a></li>

                <li><a href="/events">Events</a></li>

                <li><a href="/collaborations">Collaborations</a></li>

                <li><a href="/about">About</a></li>
                <li><a href="/account/login">Account</a></li>

            </ul>


        </div>


    </nav>

</div>

    <center>
     <div class="container">
     <h1> SHARE YOUR OPINIONS WITH US! </h1>
     <form class="container">
         <p> Name (Optional): <input type="text" id="name" name = "name"> </p>
         <label for="event"> Which event are you reviewing? </label>
         <p></p>
         <select name="event">
            <option value="SDV"> Single + Dated Valentines</option>
            <option value="SDV"> Holiday Sweater Party </option>
            <option value="SDV"> Back to School Party </option>
            <option value="SDV"> Other, list in your review </option>
        </select>
         <p></p>
        <p><input type="radio" NAME="q1" VALUE="y"> Guest </p>
        <p> <input type="radio" NAME="q1" VALUE="n"> Client </p>

         <textarea id="textbox" name = "review" rows="10" cols="30"> </textarea>
            <br> </br>
         <input type="submit" value ="Submit">
    </form>

     </div>
        <footer>
            <h6 class="underdog"> 407 Solutions</h6>
            <p class="copyright">&copy; 2023 407 Solutions. All Rights Reserved.</p>



    </footer>

</body>
</html>